#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
body{
  background-color: rgb(35, 36, 34);
  opacity: 0.4;
}
.okk{
  background-color: #000;
}
.intro-text{
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.ddmywork{
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.ii{
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color:#fff;

} 
.k{
  background-color: #000;
  color:white;
  text-transform: capitalize;
  font-weight: 500;
  font-size:20px;
  
}
